<template>
    <div class="app-container">
        <el-button type="text" style="margin-bottom: 10px;" @click="showDrawer()" icon="el-icon-s-finance">Request Cash out</el-button>
        <el-divider content-position="right">My Cashouts</el-divider>
        <el-table :cell-style="darkMode" v-loading="loading" :data="table" border fit style="width: 100%">
            <el-table-column align="center" label="Amount">
                <template slot-scope="scope">
                <span>{{ scope.row.amount }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Status">
                <template slot-scope="scope">
                <span>{{ scope.row.status }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Transaction Date">
                <template slot-scope="scope">
                <span>{{ scope.row.created_at | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
        </el-table>

        <el-drawer title="Cash out Form" :visible.sync="drawer" direction="rtl" size="50%" :xs="24">
            <div>
                <label style="color: #eee;margin-left: 20px">Available Balance: {{ userBalance }}</label>
            </div>
            <el-form style="padding-right: 20px; padding-left: 20px;">
                <el-form-item label="Mode of Payment">
                    <el-input placeholder="Gcash, BDO, BPI etc." v-model="mop"></el-input>
                </el-form-item>
                <el-form-item label="Account Name">
                    <el-input placeholder="Account Name" v-model="account_name"></el-input>
                </el-form-item>
                <el-form-item label="Account Number">
                    <el-input placeholder="Account Number" v-model="account_number"></el-input>
                </el-form-item>
                <el-form-item label="Amount">
                    <el-input placeholder="Amount" v-model="amount"></el-input>
                </el-form-item>
                <div class="align-center">
                    <el-button type="text"  @click="submitRequest()">Submit Request &nbsp; <i class="el-icon-right"></i></el-button>
                </div>
            </el-form>
        </el-drawer>
    </div>
</template>
<script>

import axios from 'axios';

export default {

    data() {
        return {
            loading: true,
            table: [],
            search: '',
            drawer: false,
            account_name: '',
            account_number: '',
            mop: '',
            amount: '',
            userBalance: '',
        }
    },
    created() {
        this.getCashOutLogs();
        this.checkUserBalance();
    },
    methods: {
        darkMode() {
            return {
                background: 'rgb(40,40,40)',
                color: '#eee',
            };
        },
        async getCashOutLogs() {
            axios.get('api/get_cashout_log_per_user')
                    .then( response => {
                        this.loading = true;
                        this.table = response.data;
                        this.loading = false;
                    });
        },
        submitRequest() {

            if(this.account_name == "" || this.account_number == "" || this.mop == "" || this.amount == ""  ) {
                this.$message({
                    message: 'All fields are required.',
                    type: 'Warning'
                });
            } else if(this.amount == "0") {
                  this.$message({
                    message: 'Invalid Amount.',
                    type: 'Warning'
                });
            } else {

                this.$confirm('Are you sure you want to proceed?', 'Confirm Cash out', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel'
                }).then( () => {    

                    axios.post('api/cashout_store', {
                        account_name: this.account_name,
                        account_number: this.account_number,
                        mop: this.mop,
                        amount: this.amount,
                    }).then( response => {

                        this.$message({
                            message: 'Request sent.',
                            type: 'success'
                        });

                        this.drawer = false;
                        this.loading = true;
                        this.getCashOutLogs();
                        this.loading = false;

                        this.checkUserBalance();

                    }).catch( error => {
                        this.$message({
                            message: 'Please check your balance.',
                            type: 'warning'
                        });
                    });

                }).catch( error => {
                    this.$message({
                        message: 'Cancelled',
                        type: 'error'
                    });
                });

            }
        },
        showDrawer() {
            this.drawer = true;
            this.checkUserBalance();
        },
        async checkUserBalance() {

             
                axios.get('api/check_user_balance')
                .then( response => {
                 
                  console.log(response);
                  this.userBalance = response.data[0].available_balance;
                });
     },
    },
}
</script>

<style>
.el-drawer__open .el-drawer.rtl {
    background: #000;
}
</style>