<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="5" :lg="5" :md="5" :xs="12" :sm="12">
                    <el-input v-model="search" placeholder="Search" class="filter-item" clearable />
                </el-col>
                <el-col :span="19" :lg="19" :md="19" :sm="2" :xs="12">
                    <el-button class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                        Add
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <el-table
            :data="table.filter( data => !search || data.name.toLowerCase().includes(search.toLowerCase()) || data.id.toLowerCase().includes(search.toLowerCase()) || data.stream_url.toLowerCase().includes(search.toLowerCase()) || data.number_of_fights.toLowerCase().includes(search.toLowerCase()) || data.total_budget.toLowerCase().includes(search.toLowerCase()) )" 
           v-loading="loading" border fit style="width: 100%">
            <el-table-column align="left" label="ID" width="40px">
                <template slot-scope="scope">
                <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Name">
                <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Start Date">
                <template slot-scope="scope">
                <span>{{ scope.row.start_date | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Start Time">
                <template slot-scope="scope">
                <span>{{ scope.row.start_time | parseTime('{h}:{i}') }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Stream/Poster">
                <template slot-scope="scope">
                <span v-if="scope.row.event_type == 'stream' " >{{ scope.row.stream_url }}</span>
                <img v-if="scope.row.event_type == 'non_stream' " :src=" 'posters/'+scope.row.image_path+'' " alt="" width="50px" height="50px">
                </template>
            </el-table-column>
             <el-table-column align="left" label="Budget">
                <template slot-scope="scope">
                <span>{{ scope.row.total_budget }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Fights" width="60px">
                <template slot-scope="scope">
                <span>{{ scope.row.number_of_fights }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Cash Ins">
                <template slot-scope="scope">
                <span>{{ scope.row.total_cash_in }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Cash Outs">
                <template slot-scope="scope">
                <span>{{ scope.row.total_cash_out }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Total Bet">
                <template slot-scope="scope">
                <span>{{ scope.row.total_bet }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Commission">
                <template slot-scope="scope">
                <span>{{ scope.row.total_commission }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Status">
                <template slot-scope="scope">
                <span>{{ scope.row.status }}</span>
                </template>
            </el-table-column>
            <el-table-column align="right" label="Actions" fixed="right">
                <template scope="">
                    <el-button type="primary" size="mini">
                        Edit
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        
        <el-dialog
            title="Create Event"
            :visible.sync="showDialog"
            width="70%" top="8vh">

            <el-form size="medium" ref="eventForm">
                <el-form-item label="Event Type">
                    <el-select v-model="eventsArray.event_type" style="width: 100%">
                        <el-option value=""></el-option>
                        <el-option value="stream" label="Stream via Facebook Live etc."></el-option>
                        <el-option value="non_stream" label="Upload a Display Poster of the Event"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Event Name">
                    <el-input v-model="eventsArray.name" placeholder="Event Name" ></el-input>
                </el-form-item>
                <el-form-item label="Start Date">
                    <el-date-picker v-model="eventsArray.start_date" type="date" placeholder="Start Date" style="width: 100%"></el-date-picker>
                </el-form-item>
                <el-form-item label="Start Time">
                    <el-time-picker v-model="eventsArray.start_time" placeholder="Start Time" style="width: 100%;"></el-time-picker>
                </el-form-item>
                <el-form-item label="Event Poster" v-if="eventsArray.event_type =='non_stream' ">
                    <el-upload ref="eventPoster" :auto-upload="false" action="" :http-request="handleFile()" :file-list="files" class="upload-demo"  :on-change="handleChange" style="width: 100%">
                        <el-button size="small" type="text" style="width: 100%" icon="el-icon-upload2">Upload Event Poster</el-button>
                        <div scope="tip" class="el-upload__tip">jpg/png files with a size less than 5MB</div>
                    </el-upload>
                </el-form-item>
                  <el-form-item label="Stream URL" v-if="eventsArray.event_type =='stream' ">
                    <el-input v-model="eventsArray.stream_url" placeholder="Stream URL" ></el-input>
                </el-form-item>
                  <el-form-item label="Fights">
                    <el-input v-model="eventsArray.number_of_fights" placeholder="Number of Fights" ></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="showDialog = false">Cancel</el-button>
                <el-button type="primary" @click="handleAddEvent()">Save</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            loading: true,
            table: [],
            eventsArray: {},
            search: '',
            showDialog: false,
             files: [],
        } 
    },
   created() {
       this.getData();
       this.eventsArray = {
           event_type: '',
           name: '',
           start_date: '',
           start_time: '',
           stream_url: '',
           budget: '',
           number_of_fights: '',
           status: 'upcoming',
       };
   },
   methods: {
       handleFile(){},
       darkMode() {
           return {
               background: 'rgb(40,40,40)',
               color: '#eee',
           };
       },
       async getData() {
           axios.get('/api/events')
            .then( response => {
                this.loading = true;
                this.table = response.data;
                this.loading = false;
                this.clearUploadedImage();
            }).bind(this);
       },
       handleCreate() {
           this.showDialog = true;
       },
       handleAddEvent() {

           let url = 'api/events';
           let form = this.$refs['eventForm'].$el;

            let formData = new FormData(form);

          

            formData.append('files', this.files[0] ? this.files[0].raw : '');
            formData.append('name', this.eventsArray.name);
            formData.append('event_type', this.eventsArray.event_type);
            formData.append('start_date', this.eventsArray.start_date);
            formData.append('start_time', this.eventsArray.start_time);
            formData.append('stream_url', this.eventsArray.stream_url);
            formData.append('number_of_fights', this.eventsArray.number_of_fights);
            formData.append('status', this.eventsArray.status);

              let config = {
                    headers: {
                        'Content-Type' : 'undefined'
                    }
                };

           this.$confirm("Are you sure you want to create this event?", "Confirm Event", {
               confirmButtonText: 'Confirm',
               cancelButtonText: 'Cancel',
               type: 'info',
           }).then ( () => {
               axios.post(url, 
                  formData,
                  config,
               ).then( response => {
                   
                   this.$message({
                        type: 'success',
                        message: 'Event Created Successfully.',
                    });

                    this.eventsArray = [];
                    this.getData();
                    
                    this.showDialog = false;
                    this.clearUploadedImage();
               }).catch( error => {
                 
               });
               
           }).then( response => {

           }).catch( error => {
              this.$message({
                type: 'error',
                message: 'Event Cancelled',
            });
           });
       },
        handleChange(file, fileList) {
                this.files = fileList;
                console.log(this.files);
        },
        clearUploadedImage() {
            this.$refs.eventPoster.clearFiles();
            this.files = [];
        },
   },
}
</script>
<style scoped>

</style>