<template>
    <div class="app-container">
        <h2 style="color: rgba(199, 143, 0, 0.856)">Total Commission: {{ totalCommission }}</h2>
        <el-divider content-position="right">Commission Logs</el-divider>
        <el-table :cell-style="darkMode" v-loading="loading" :data="table" border fit style="width: 100%">
            <el-table-column align="center" label="Event">
                <template slot-scope="scope">
                <span>{{ scope.row.event_name }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Fight #">
                <template slot-scope="scope">
                <span>{{ scope.row.fight_number }}</span>
                </template>
            </el-table-column>
        <el-table-column align="center" label="Total Bet">
                <template slot-scope="scope">
                <span>{{ scope.row.total_bet }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Commission">
                <template slot-scope="scope">
                <span>{{ scope.row.total_commission }}</span>
                </template>
            </el-table-column>
            
        </el-table>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            loading: true,
            table: [],    
            totalCommission: '',
        }
    },    
    created() {
        this.getData();
        this.getTotalCommission();
    },
    methods: {
         darkMode() {
            return {
                background: 'rgb(40,40,40)',
                color: '#eee',
            };
        },
        async getData() {
            axios.get('api/commissions')
                    .then(response => {
                        this.table = response.data;
                        this.loading = false;
                    });
        },
        async getTotalCommission() {
            axios.get('api/get_total_commission')
                    .then( response => {
                        this.totalCommission = response.data;
                    });
        }
    },
}
</script>