<template>
    <div class="app-container">
        <el-divider content-position="right">My Agents Cashout Requests</el-divider>
        <el-table :cell-style="darkMode" v-loading="loading" :data="table" border fit style="width: 100%">
            <el-table-column align="center" label="Name">
                <template slot-scope="scope">
                <span>{{ scope.row.member_name }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Mode of Payment">
                <template slot-scope="scope">
                <span>{{ scope.row.mode_of_payment }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Account Name">
                <template slot-scope="scope">
                <span>{{ scope.row.account_name }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Account Number">
                <template slot-scope="scope">
                <span>{{ scope.row.account_number }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Amount">
                <template slot-scope="scope">
                <span>{{ scope.row.amount }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Status">
                <template slot-scope="scope">
                <span>{{ scope.row.status }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Transaction Date">
                <template slot-scope="scope">
                <span>{{ scope.row.created_at | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Action">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.status == 'pending' " @click="approveCashout(scope.row.id, scope.row.player_id, scope.row.amount)" type="text">Approve</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>

import axios from 'axios';

export default {
    
    data() {
        return {
            loading: true,
            table: [],
            search: ''
        }
    },
    created() {
        this.getCashOutRequests();
    },
    methods: {
        darkMode() {
            return {
                background: 'rgb(40,40,40)',
                color: '#eee',
            };
        },
        async getCashOutRequests() {
            axios.get('api/get_cash_out_logs')
                    .then( response => {
                        this.table = response.data;
                        this.loading = false;
                    });
        },
        approveCashout(id, pid, amount) {
            this.$confirm('Are you sure you want to approve this request?', 'Confirm Approval', {
                confirmButtonText: 'Confirm',
                cancelButtonText: 'Cancel'
            }).then( () => {

                axios.post('api/cashout_update', {
                    id: id,
                    pid: pid,
                    amount: amount,
                }).then( response => {
                    this.loading = true;
                    this.getCashOutRequests();
                    this.loading = false;
                }).catch( error => {
                    this.$message({
                        message: 'Something went wrong,',
                        type: 'error',
                    })
                });

            }).catch( error => {
                this.$message({
                    message: 'Cancelled.',
                    type: 'error'
                })
            });
        },
    },
}
</script>