<template>
    <div class="app-container">
        <h2 style="color: rgba(199, 143, 0, 0.856);">Wallet Balance: {{ companyBalance }} </h2>
        
        <el-row :gutter="0">
            <el-col :span="24">
                <el-card class="card-box">
                    <div slot="header">
                        <span>Fund Management</span>
                    </div>
                    <div style="body">
                        <el-row :gutter="10">
                            <el-col :span="24" class="input-container">
                                <label for="">Transaction Type:</label>
                                <el-select v-model="walletArray.transaction_type" placeholder="Transaction Type" style="width: 100%;">
                                    <el-option label="Cash In" value="cash-in"></el-option>
                                </el-select>
                            </el-col>
                        </el-row>

                        <el-row :gutter="10" style="padding-top: 20px;">
                            <el-col :span="8" class="input-container">
                                <label for="">Member:</label>
                                <el-select v-model="walletArray.member" style="width: 100%;" filterable clearable>
                                    <el-option v-for="members in walletUsers" :key="members.id" :label="members.name" :value="members.id">

                                    </el-option>
                                </el-select>
                            </el-col>
                             <el-col :span="8" class="input-container">
                                 <label for="">Amount</label>
                                 <el-input v-model="walletArray.amount" placeholder="Amount" style="width: 100%"></el-input>
                            </el-col>
                             <el-col :span="8" class="input-container">
                                 <label for="">Percentage</label>
                                 <el-input v-model="walletArray.percentage" placeholder="Percentage" style="width: 100%" value="0"></el-input>
                            </el-col>
                        </el-row>
               
                        <el-row :gutter="10" style="margin-top: 15px">
                            <el-button type="primary" @click="submitTransaction()" style="width: 100%">Submit</el-button>
                        </el-row>
                    </div>
                </el-card>
            </el-col>
        </el-row>

        <div class="filter-container" style="padding: 15px;">
            <el-row :gutter="10">
                <!-- <el-col :span="3" :lg="3" :md="6" :xs="24" :sm="24">
                    <el-input v-model="search" placeholder="Search" class="filter-item" clearable />
                </el-col> -->
            </el-row>
        </div>
        <el-divider content-position="right">My Players Cashin Transactions</el-divider>
        <el-table
            :data="table.filter( data => !search || data.amount || data.member.toLowerCase().includes(search.toLowerCase()) )" 
            :cell-style="darkMode" v-loading="loading" border fit style="width: 100%">
            <el-table-column align="left" label="ID" width="40px">
                <template slot-scope="scope">
                <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Amount">
                <template slot-scope="scope">
                <span>{{ scope.row.amount }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Member">
                <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Percentage">
                <template slot-scope="scope">
                <span>{{ scope.row.percentage }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Credited Amount">
                <template slot-scope="scope">
                <span>{{ scope.row.amount_to_be_credited }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Balance">
                <template slot-scope="scope">
                <span>{{ scope.row.running_balance }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Transaction Type">
                <template slot-scope="scope">
                <span>{{ scope.row.transaction_type }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Date">
                <template slot-scope="scope">
                <span>{{ scope.row.created_at | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            companyBalance: '',
            table: [],
            walletArray: [],
            walletUsers: [],
            loading: true,
            search: '',
            tempBalance: '',
        };
    },
    mounted() {
         Echo.channel('wallet')
             .listen('WalletEvent', (e) => {
               this.getBalance();
             });
    },
    created() {
        this.walletArray = {
            amount: '',
            member: '',
            percentage: '',
            transaction_type: '',
        };

        this.getBalance();
        this.getUsersForWallet();
        this.getData();
    
    },  
    methods: {
        darkMode() {
            return {
                background: 'rgb(40,40,40)',
                color: '#fff',
            }
        },
        async getData() {
            axios.get('api/wallets')
                    .then ( response => {
                         this.loading = true;
                        this.table = response.data;
                         this.loading = false;
                    }).bind(this);
      
        },
        async getBalance() {
            axios.get('api/get_company_balance')
                    .then( response => {
                      this.tempBalance = response.data;
                        this.companyBalance = new Intl.NumberFormat('ph-peso').format(response
                        .data);
                    }).bind(this);
        },
        async getUsersForWallet() {
             axios.get('api/get_users_for_wallet')
                    .then( response => {
                        this.walletUsers = response.data;
                    }).bind(this);
        },
   
        async submitTransaction()
        {
            this.$confirm("Are you sure you want to proceed with this Transaction?", "Confirm Transaction", {
              confirmButtonText: 'Confirm',
               cancelButtonText: 'Cancel',
               type: 'info',
            }).then( () => {

               if(this.tempBalance < this.walletArray.amount || this.tempBalance == 0) {
                 this.$notify.info({
                   title: 'Insufficient Wallet Balance',
                   message: 'Please reaload your wallet to proceed with this transaction.',
                   position: 'top-right'
                 });
                } else {
                       axios.post('api/wallets', {
                          amount: this.walletArray.amount,
                          load_to_user_id: this.walletArray.member,
                          percentage: this.walletArray.percentage,
                          transaction_type: this.walletArray.transaction_type,
                      }).then( response => {
                          this.$message({
                              type: 'success',
                              message: 'Transaction Successful.',
                          });

                          this.walletArray = [];
                          
                          this.getBalance();
                          this.getData();

                      }).catch( error => {
                          this.$message({
                                type: 'info',
                                message: 'Something went wrong.',
                            });
                      });
                }

           

            }).catch( error => {
                 this.$message({
                        type: 'info',
                        message: 'Transaction Cancelled.',
                    });
            } );
        },
    },  
}
</script>



<style rel="stylesheet/scss" lang="scss" scoped>
$bg:#2d3a4b;
$light_gray:#eee;
.filter-container {
    .el-input {

        input {
        background-color:$bg;
        border: none;
        outline: none;
        border-bottom: 1px solid #eee;
        border-radius: 0px;
        -webkit-appearance: none;
        color: $light_gray;
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
            -webkit-text-fill-color: #fff !important;
        }
    }
}
}

.card-box {
  background: transparent;
  
}


.el-select-dropdown__list {
  background: $bg;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background: $bg;
}

.el-card {
 border-color: #262627;
  border-radius: 0px;
  box-shadow: none;
}

.el-card {

  span {
    color: #606266;
  }
  label {
    color: #606266;
  }
}




.el-button {
  background: $bg;
  border: 0px;
}


.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  background: rgb(40,40,40);
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }

  .el-table {
    background-color: rgb(40,40,40);
    color: #b1b1b1;
  }

   .el-table thead {
    background-color: rgb(40,40,40) !important;
    color: #fff;
  }

   .el-table tr th {
    background-color: rgb(40,40,40) !important;
    color: #fff;
  }
  .el-table__row td {
    background-color: rgb(40,40,40) !important;
    color: #fff;
  }
}
</style>