<template>
    <div class="app-container">
        <el-divider content-position="right">User Wallets</el-divider>
        <el-table :cell-style="darkMode" v-loading="loading" :data="table" border fit style="width: 100%">
            <el-table-column align="left" label="Name">
                <template slot-scope="scope">
                <span>{{ scope.row.member }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Running Balance">
                <template slot-scope="scope">
                <span>{{ scope.row.balance }}</span>
                </template>
            </el-table-column>
        
        </el-table>
    </div>
</template>
<script>

import axios from 'axios';

export default {
    
    data() {
        return {
            loading: true,
            table: [],
            search: ''
        }
    },
    created() {
        this.getCashOutRequests();
    },
    methods: {
        darkMode() {
            return {
                background: 'rgb(40,40,40)',
                color: '#eee',
            };
        },
        async getCashOutRequests() {
            axios.get('api/get_all_user_wallet')
                    .then( response => {
                        this.table = response.data;
                        this.loading = false;
                    });
        },
        
    },
}
</script>