<template>
  <div class="dashboard-editor-container">
      <el-row :gutter="0">
            <el-col :span="24">
                     <h3 style="color: #fff" v-role="['Company']">
                    Referral Link: 
                    <a :href="'/r/'+referral_link" style="text-decoration: underline;" target="_blank">www.sbi888.com/r/{{ referral_link}}</a> 
                    </h3>
                    <h3 style="color: #fff" v-role="['Supreme Agent']">
                    Referral Link: 
                    <a :href="'/sa/'+referral_link" style="text-decoration: underline;" target="_blank">www.sbi888.com/sa/{{ referral_link}}</a> 
                    </h3>
                    <h3 style="color: #fff" v-role="['Master Agent']">
                    Referral Link: 
                    <a :href="'/ma/'+referral_link" style="text-decoration: underline;" target="_blank">www.sbi888.com/ma/{{ referral_link}}</a> 
                    </h3>
                    <h3 style="color: #fff" v-role="['Agent']">
                    Referral Link: 
                    <a :href="'/a/'+referral_link" style="text-decoration: underline;" target="_blank">www.sbi888.com/a/{{ referral_link}}</a> 
                    </h3>
            </el-col>
        </el-row>
        
         
 
  </div>
</template>

<script>
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
import axios from 'axios';
import local from '../../i18n/local';

export default {
  directives: { permission, role },
  name: 'DashboardEditor',
  data() {
    return {
       referral_link: '',
    };
  },
  computed: {
   
  },
  created() {
 
   this.getReferralCode();
  },
  watch: {
   
  },
  mounted() {
},
   methods: {
 
     getReferralCode() {
            axios.get('api/get_referral_code')
                    .then( response => {
                        this.referral_link = response.data[0].referral_link; 
                    });
        },
    
     
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .emptyGif {
    display: block;
    width: 45%;
    margin: 0 auto;
  }

.event-name-container {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  padding: 5px;
}

  .bet-container {
    background: #0F0F10;;
  }

  .dashboard-editor-container {
    background-color: rgb(40,40,40);
    min-height: 100vh;
    padding-right: 10px;
    padding-left: 10px;
    .pan-info-roles {
      font-size: 12px;
      font-weight: 700;
      color: #333;
      display: block;
    }
    .info-container {
      position: relative;
      margin-left: 190px;
      height: 150px;
      line-height: 200px;
      .display_name {
        font-size: 48px;
        line-height: 48px;
        color: #212121;
        position: absolute;
        top: 25px;
      }
    }

    .section-header {
      text-align: left;
      color: #fff;
      text-transform: uppercase;
    }

    .bet-header {
      padding: 12px 15px 12px 15px;
      text-align: center;
      color: #fff;
      font-size: 20px;
    }

    .bet-header > label {
      color: #fff;
      text-align: center;
      background: #04A758;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 20px;
      border-radius: 5px;
    }

    .bet-status-indicator {
      color: #b1b1b1;
    }

    .bet-indicator {
      border-radius: 50%;
      background: darkgreen;
      width: 15px;
      height: 15px;
      margin-left: 10px;
      margin-top: 22px;
    }

    .bet-title {
      color: #fff;
      font-size: 28px;
      text-align: center;
      padding: 10px;
      text-transform: uppercase;
    }

    .meron-div {
      background-color: rgb(136, 3, 3);
    }

    .wala-div {
      background-color: rgb(3, 3, 163);
    }

  .meron {
     background-color: rgb(255, 32, 32);
  }

  .wala {
   background-color: rgb(29, 29, 255);
  }
    .prize-pool {
      color:rgb(255, 255, 255);
      text-align: center;
      font-size: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .prize-pool.meron {
      background: rgb(255, 32, 32);
    }

    .prize-pool.wala {
      background: rgb(29, 29, 255);
    }

    .payout-holder {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
    }

    .button-holder {
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }

    .bet-placer-button {
      border-radius: 0px;
      text-transform: uppercase;
         width: 100%;
      font-size: 14px;
    }

    .bet-placer-button.wala-btn {
      background-color: rgb(3, 3, 163);
    }

     .bet-placer-button.meron-btn {
       background-color: rgb(136, 3, 3);
    }


    .bet-placer-button.wala-btn {
      color: #fff  !important;
    }
     .bet-placer-button.meron-btn {
     color: #fff !important;
    }

video,
iframe {
  width: 100% !important;
  height: 100% !important;
}


  .stream-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }


    .trends-container {
      color: #fff;
      text-transform: uppercase;
      overflow-x: auto;
    }

    .iframe-container {
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    }

    .payahan-box {
      width: 30px;
      height: 30px;
      background: red;
    }
  }

</style>
