<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="5" :lg="5" :md="5" :xs="12" :sm="12">
                    <el-input v-model="search" placeholder="Search" class="filter-item" clearable />
                </el-col>
                <el-col :span="19" :lg="19" :md="19" :sm="2" :xs="12">
                    <el-button class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                        Add
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <el-table
            :data="table.filter( data => !search || data.amount.toLowerCase().includes(search.toLowerCase()) )" 
            :cell-style="darkMode" v-loading="loading" border fit style="width: 100%">
            <el-table-column align="left" label="ID" width="40px">
                <template slot-scope="scope">
                <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Amount">
                <template slot-scope="scope">
                <span>{{ scope.row.amount }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Date Added">
                <template slot-scope="scope">
                <span>{{ scope.row.created_at | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
        </el-table>
        
        <el-dialog
            title="Create Event"
            :visible.sync="showDialog"
            width="70%" top="8vh">

            <el-form size="medium">
                <el-form-item label="Add Cash">
                    <el-input v-model="outlayArray.amount" placeholder="Amount" ></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="showDialog = false">Cancel</el-button>
                <el-button type="primary" @click="handleAddEvent()">Save</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            loading: true,
            table: [],
            outlayArray: {},
            search: '',
            showDialog: false,
        } 
    },
   created() {
       this.getData();
       this.outlayArray = {
        amount: '',
       };
   },
   methods: {
       darkMode() {
           return {
               background: 'rgb(40,40,40)',
               color: '#eee',
           };
       },
       async getData() {
           axios.get('/api/outlays')
            .then( response => {
                this.loading = true;
                this.table = response.data;
                this.loading = false;
            }).bind(this);
       },
       handleCreate() {
           this.showDialog = true;
       },
       handleAddEvent() {
           this.$confirm("Are you sure you want to add cash?", "Confirm Add Cash", {
               confirmButtonText: 'Save',
               cancelButtonText: 'Cancel',
               type: 'info',
           }).then ( () => {
               axios.post('api/outlays', {
                   amount: this.outlayArray.amount,
               }).then( response => {
                   
                   this.$message({
                        type: 'success',
                        message: 'Cash Added Successfully.',
                    });

                    this.eventsArray = [];
                    this.getData();
                    this.showDialog = false;

               }).catch( error => {
                    this.$message({
                        type: 'info',
                        message: 'Something went wrong.',
                    });
               });
               
           }).then( response => {

           }).catch( error => {
              this.$message({
                type: 'error',
                message: 'Add Cash Cancelled',
            });
           });
       },
   },
}
</script>
<style scoped>

</style>