<template>
    <div class="app-container">
        <el-divider content-position="right">My Cashins</el-divider>
        <el-table :cell-style="darkMode" v-loading="loading" :data="table" border fit style="width: 100%">
            <el-table-column align="center" label="Amount">
                <template slot-scope="scope">
                <span>{{ scope.row.amount }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Transaction Type">
                <template slot-scope="scope">
                <span>{{ scope.row.transaction_type }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Transaction Date">
                <template slot-scope="scope">
                <span>{{ scope.row.created_at | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
            </el-table>
    </div>
</template>
<script>

import axios from 'axios';

export default {

    data() {
        return {
            loading: true,
            table: [],
            search: '',
        }
    },
    created() {
        this.getCashInLogs();
    },
    methods: {
        darkMode() {
            return {
                background: 'rgb(40,40,40)',
                color: '#eee',
            };
        },
        async getCashInLogs() {
            axios.get('api/get_cash_in_logs')
                    .then( response => {
                        this.loading = true;
                        this.table = response.data;
                        this.loading = false;
                    });
        },
    },
}
</script>