<template>
    <div class="app-container">
    <div class="filter-container">
        <el-input v-model="search" placeholder="Search Player" clearable style="width: 200px;color: #eee !important;" class="filter-item q-input" />
        </div>
        <el-table
            :data="table.filter( data => !search || data.name.toLowerCase().includes(search.toLowerCase()) )" 
            :cell-style="darkMode" v-loading="loading" border fit style="width: 100%">
            <el-table-column align="left" label="ID" width="40px">
                <template slot-scope="scope">
                <span>{{ scope.row.pid }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Name">
                <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Username">
                <template slot-scope="scope">
                <span>{{ scope.row.email }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Phone #">
                <template slot-scope="scope">
                <span>{{ scope.row.phone_number }}</span>
                </template>
            </el-table-column>
      
             <el-table-column align="left" label="Joined Date">
                <template slot-scope="scope">
                <span>{{ scope.row.created_at | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Actions" width="120" fixed="right">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @click="activatePlayer(scope.row.pid)">
                        Activate
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
import axios from 'axios';

export default {

    data() {
        return {
            table: [],
            search: '',
            loading: true,    
        }
    },
    created() {
       this.getDeactivatedPlayers();
    },
    methods: {
        darkMode() {
           return {
               background: 'rgb(40,40,40)',
               color: '#eee',
           };
       },
        async getDeactivatedPlayers() {
           
           axios.get('api/get_deactivated_players')
                    .then( response => {
                        this.loading = true;
                        this.table = response.data;
                        this.loading = false;
                    });
        },
        async activatePlayer(scope) {

           this.$confirm("Are you sure you want to activate this player?", "Confirm Player Activation", {
               confirmButtonText: 'Confirm',
               cancelButtonText: 'Cancel',
               type: 'info',
           }).then ( () => {
               axios.post('api/activate_player', {
                   id: scope,
               }).then( response => {
                   
                   this.getDeactivatedPlayers();
                   this.$message({
                        type: 'success',
                        message: 'Player Activated.',
                    });

               }).catch( error => {
                    this.$message({
                        type: 'info',
                        message: 'Something went wrong.',
                    });
               });
          }).then( response => {

           }).catch( error => {
              this.$message({
                type: 'error',
                message: 'Activation Cancelled',
            });
           });
        }
    },
}
</script>