<template>
    <div class="app-container" style="margin-top: -50px;">
        
        <el-row :gutter="0">
            <el-col :span="24" class="stream-container" v-if="event_type == 'stream' ">
             <iframe class="iframe-container" :src="stream_url" width="1280" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allow="autoplay;clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </el-col>
            <el-col :span="24" v-else-if="event_type == 'non_stream' " > 
                <img :src=" 'posters/'+photo+'' " alt="" style="width: 100%; height: 100%">
            </el-col>
            <el-col :span="24" v-else></el-col>
        </el-row>
       
        <!-- <el-alert type="info" center>To be determined</el-alert> -->
         <el-alert v-if="quarterStatus != '' "
            :title="quarterStatus"
            type="success"
            center
            show-icon style="text-transform: uppercase;">
        </el-alert>
         <el-row :gutter="0">
            <el-col :span="24" class="game-header">
                <span>{{ gameTitle }}</span>
            </el-col>
        </el-row>
        <el-row :gutter="0" class="event-holder">
            <el-col :span="12">
                <span style="color: #fff;font-size: 16px;text-transform: uppercase;">quarter #  {{ gameDetails.gameNumber }}</span>
            </el-col>
            <el-col :span="12">
                <span style="color: #fff;font-size: 16px;text-transform: uppercase;">betting: {{ gameDetails.gameStatus }}</span>
            </el-col>
        </el-row>
        <el-row :gutter="0" v-role="['Player']">
            <el-col :span="12">
                <div class="bet-header meron">
                    <span>meron</span>
                </div>
                <div class="bet-body meron">
                    <h4>{{ gameDetails.meronTotalBet }} <br/> <label>payout: {{ gameDetails.meronTotalPayout }}</label> <br/> <label style="color: #fff;">bet: {{ playerBetOnMeron }}</label></h4>
                   
                </div>
                <div v-if="gameDetails.gameStatus === 'open' " class="bet-footer meron">
                    <el-button @click="placeBet('meron')">choose meron</el-button>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="bet-header wala">
                    <span>wala</span>
                </div>
                 <div class="bet-body wala">
                      <h4>{{ gameDetails.walaTotalBet }} <br/> <label>payout: {{ gameDetails.walaTotalPayout }}</label><br/><label style="color: #fff;">bet: {{ playerBetOnWala }}</label></h4>
                       
                </div>
                <div v-if="gameDetails.gameStatus === 'open' " class="bet-footer wala">
                    <el-button @click="placeBet('wala')">choose wala</el-button>
                </div>
            </el-col>
        </el-row>
       
       <el-row :gutter="0" v-role="['Player']">
           <el-col :span="24">
               <div class="bet-holder">
                   <div class="quick-bet-holder">
                       <el-input v-model="bet" placeholder="Enter Bet" clearable size="large" />
                       <el-row :gutter="10" style="margin-top: 10px">
                           <el-col  v-for="bet in quickBets" :key="bet" :span="3" :xs="12">
                               <el-button @click="placeQuickBet(bet)">{{ bet }}</el-button>
                           </el-col>
                       </el-row>
                       
                   </div>
               </div>
           </el-col>
       </el-row>
        
        <el-row :gutter="10" style="margin-top: 30px;">
            <el-col :span="6" :xs="24" :sm="24" style="margin-top: 10px;">
                <el-card>
                    <div slot="header">
                         <span style="color: rgba(216, 155, 1, 0.959);">1st Quarter</span>
                    </div>
                    <div style="text-align: center" class="blocks">
                        <div class="block block--left">{{ this.quarterOne.meron }}</div>
                          <div class="block block--right">{{ this.quarterOne.wala }}</div>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6" :xs="24" :sm="24" style="margin-top: 10px;">
                <el-card>
                    <div slot="header">
                         <span style="color:rgba(216, 155, 1, 0.959);">2nd Quarter</span>
                    </div>
                   <div style="text-align: center" class="blocks">
                        <div class="block block--left">{{ this.quarterTwo.meron }}</div>
                          <div class="block block--right">{{ this.quarterTwo.wala }}</div>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6" :xs="24" :sm="24" style="margin-top: 10px;">
                <el-card>
                    <div slot="header">
                         <span style="color: rgba(216, 155, 1, 0.959);">3rd Quarter</span>
                    </div>
                    <div style="text-align: center" class="blocks">
                        <div class="block block--left">{{ this.quarterThree.meron }}</div>
                          <div class="block block--right">{{ this.quarterThree.wala }}</div>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6" :xs="24" :sm="24" style="margin-top: 10px;">
                <el-card>
                    <div slot="header">
                         <span style="color: rgba(216, 155, 1, 0.959);">4th Quarter</span>
                    </div>
                    <div style="text-align: center" class="blocks">
                        <div class="block block--left">{{ this.quarterFour.meron }}</div>
                          <div class="block block--right">{{ this.quarterFour.wala }}</div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
import axios from 'axios';

export default {
    directives: { permission, role },
    data() {
        return {
             stream_url: '',
           
            quickBets: [
                '100', '200', '300', '400', '500', '1000', '5000', '10000'
            ],
            bet: '',
            gameDetails: {},
            gameTitle: '',
            streamUrl: '',
            event_type: '',
            photo: '',
            loading: true,
            quarterOne: [],
            quarterTwo: [],
            quarterThree: [],
            quarterFour: [],
            quarterStatus:'',
            event_id: '',
            playerBetOnWala: '',
            playerBetOnMeron: '',
           
        }
    },
    mounted() {
     
        Echo.channel('open-bet')
                .listen("OpenFightEvent", (e) => {
                    console.log(e);
                    this.gameDetails.gameStatus = e.eventDetails.status;
                this.gameDetails.eventId = e.eventDetails.event_id;
                this.gameDetails.gameNumber = e.eventDetails.fight_number;
                 this.gameDetails.meronTotalPayout = e.eventDetails.meron_total_payout;
                this.gameDetails.meronTotalBet = e.eventDetails.meron_total_bet;
                this.gameDetails.walaTotalBet = e.eventDetails.wala_total_bet;
                this.gameDetails.walaTotalPayout = e.eventDetails.wala_total_payout;

            
        });

        Echo.channel('bet-placed')
            .listen('NewBetPlacedEvent', (e) => {
                this.gameDetails.gameStatus = e.eventDetails.status;
                this.gameDetails.eventId = e.eventDetails.event_id;
                this.gameDetails.gameNumber = e.eventDetails.fight_number;
                this.gameDetails.meronTotalPayout = e.eventDetails.meron_total_payout;
                this.gameDetails.meronTotalBet = e.eventDetails.meron_total_bet;
                this.gameDetails.walaTotalBet = e.eventDetails.wala_total_bet;
                this.gameDetails.walaTotalPayout = e.eventDetails.wala_total_payout;
        });

          Echo.channel('declare-winner')
             .listen('DeclareWinnerEvent', (e) => {
             this.gameDetails.gameStatus = e.eventDetails.status;
             this.getUrl();
             this.getScores();
             if(e.eventDetails.is_winner == 'cancelled' || e.eventDetails.is_winner == 'draw' ) {

                this.quarterStatus = 'Game Cancelled or Draw';

             } else {

                 this.quarterStatus = 'Winner: ' +e.eventDetails.is_winner;



             }
             
             this.gameDetails.meronTotalBet = 0;
             this.gameDetails.meronTotalPayout = 0;
             this.gameDetails.walaTotalBet = 0;
             this.gameDetails.walaTotalPayout = 0;
             this.gameDetails.eventId = e.eventDetails.event_id;
             this.gameDetails.gameNumber = e.eventDetails.fight_number;
            this.checkIfWinner();
            this.playerBetOnWala = '';
            this.playerBetOnMeron = '';
        });

         Echo.channel('bet-placed')
             .listen('NewBetPlacedEvent', (e) => {
                this.gameDetails.meronTotalBet = e.eventDetails.meron_total_bet;
                this.gameDetails.meronTotalPayout = e.eventDetails.meron_total_payout;
                this.gameDetails.walaTotalBet = e.eventDetails.wala_total_bet;
                this.gameDetails.walaTotalPayout = e.eventDetails.wala_total_payout;
        });

    },
    created() {
       
        this.gameDetails = {
            gameStatus: '',
            meronTotalBet: 0,
            walaTotalBet: 0,
            meronTotalPayout: 0,
            walaTotalPayout: 0,
            gameNumber: '',
           
        };
          this.getUrl();
        this.getGameDetails();
      
        this.transformUrl();
        this.getScores();
    },
    methods: {
      
        darkMode() {
           return {
               background: 'rgb(40,40,40)',
               color: '#eee',
           };
       },
        getUrl() {
            axios.get('api/get_stream_url')
                        .then( response => {
                            if(response.data[0].event_type == 'stream') {
                                this.event_type = 'stream';
                                 this.stream_url = response.data[0].stream_url;
                                 let url = "https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/100044197170599/videos/330087758474461&width=1280&autoplay=true";
                             this.stream_url  = url.replace("href=https://www.facebook.com/100044197170599/videos/330087758474461", "href="+this.stream_url);
                            } else if(response.data[0].event_type == 'non_stream') {
                                this.event_type = 'non_stream';
                                this.photo = response.data[0].image_path;
                            }

                            console.log(this.event_type);
                           
                        });
        },
        transformUrl() {
           
        },
       
        getGameDetails() {
            axios.get('api/get_game_details')
                    .then( response => {
                       console.log(response.data[0].name);
                        this.gameDetails = {
                            gameStatus: response.data[0].status,
                            gameNumber: response.data[0].fight_number,
                            meronTotalBet: response.data[0].meron_total_bet,
                            meronTotalPayout: response.data[0].meron_total_payout,
                            walaTotalBet: response.data[0].wala_total_bet,
                            walaTotalPayout: response.data[0].wala_total_payout,
                            eventId: response.data[0].event_id,
                        };

                        

                        this.gameTitle = response.data[0].name;
                        
                       
                        // this.event_type = response.data[0].event_type;
                        // this.streamUrl = response.data[0].stream_url;
                    });
        },
        placeQuickBet(bet) {
            this.bet = bet;
        },
        placeBet(choice) {
            
            if(this.bet <= 0 || this.bet < 100 || this.bet == '') {
                this.$message({
                    type: 'error',
                    message: 'Minimum bet is 100.'
                });
            } else {
                this.$confirm('Are you sure you want to place '+this.bet+'?', 'Confirm Bet', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel'
                }).then( () => {

                    if(choice == 'meron') {
                        this.playerBetOnMeron = this.bet;
                    } else if(choice == 'wala') {
                        this.playerBetOnWala = this.bet;
                    }

                    axios.post('api/place_bet', {
                        event_id: this.gameDetails.eventId,
                        fight_id: this.gameDetails.gameNumber,
                        bet_amount: this.bet,
                        choice: choice,
                    }).then( response => {

                    }).catch( error => {
                        this.$message({
                            type: 'error',
                            message: 'Insufficient Balance.'
                        })
                    });

                }).catch( () => {
                    this.$message({
                        type: 'info',
                        message: 'Bet Cancelled.'
                    });
                });
            }
        },

        getScores() {
            axios.post('api/get_scores', {
                event_id: this.gameDetails.eventId,
                fight_id: this.gameDetails.gameNumber,
            }).then( response => {
                console.log(response);
                
             
                    this.quarterOne = {
                        meron: response.data[0].meron_score,
                        wala: response.data[0].wala_score
                    
                    };

                      this.quarterTwo = {
                        meron:response.data[1].meron_score,
                        wala: response.data[1].wala_score
                    };
              
                      this.quarterThree = {
                        meron: response.data[2].meron_score,
                        wala: response.data[2].wala_score
                      };

                      this.quarterFour = {
                        meron:response.data[3].meron_score,
                        wala: response.data[3].wala_score
                    };
               
            });
        },
        checkIfWinner() {

            axios.post('api/check_if_winner', {
                event_id: this.gameDetails.eventId,
                fight_id: this.gameDetails.gameNumber,
                bet_amount: this.bet,

              }).then( response => {
                
              }).catch( error => {
                 
          });
     },
    },
}
</script>
<style scoped>

    .game-header {
        padding: 10px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        background: rgba(216, 155, 1, 0.959);
        margin-top: 10px;
    }

    .el-card {
        background: #1e2024;
        border: 0px ;
        border-radius: 0px;
        text-align: center;
    }

    
    .event-holder {
        background: #1e2024;
        padding: 10px;
    }

    .bet-header {
        width: 100%;
        padding: 10px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 26px;
    }
    .bet-header.meron {
        background: rgb(143, 2, 2);
    }

    .bet-header.wala {
        background: rgb(0, 0, 126);
    }

    .bet-body {
        padding: 10px;
        text-align: center;
    }

    .bet-footer {
        padding: 10px;
        text-align: center;
    }

    .bet-body.meron {
        background: rgb(251, 3, 3);
    }

    .bet-body.wala {
        background: rgb(4, 4, 231);
    }

    .bet-footer.meron {
         background: rgb(143, 2, 2);
    }

    .bet-body > h4 {
        color: #fff;
        font-size: 20px;
    }

    .bet-body > h4 >  label {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }

    .bet-footer.wala {
        background: rgb(0, 0, 126);
    }

    .bet-footer.meron > .el-button {
         background: rgb(251, 3, 3);
         color: #fff;
         text-transform: uppercase;
         width: 100%;
         border-radius: 0px;
         border: 0px transparent;
    }

    .bet-footer.wala > .el-button {
         background: rgb(4, 4, 231);
         color: #fff;
         text-transform: uppercase;
         width: 100%;
         border-radius: 0px;
         border: 0px transparent;
    }

    .bet-holder {
        padding: 10px;
        background: #1e2024;
    }

    .quick-bet-holder > .el-row > .el-col > .el-button {
        width: 100%;
        background: transparent;
        border-radius: 0px;
        border: 1px solid #2d3a4b;
    }

    .quick-bet-holder > .el-input {
        border-radius: 0px;
    }

     .quick-bet-holder > .el-row > .el-col {
         margin-bottom: 5px;
         
     }

    .stream-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

     .iframe-container {
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .blocks {
  display: flex;
    color: #fff;
    font-size: 28px;
}

.block {
 
 height: 60px;
  width: 50%;
  width: calc(50% + 2rem);
  vertical-align: middle;
  line-height: 60px;
}

.block--left {
 background: rgb(143, 2, 2);
  clip-path: polygon(0 0, 100% 0, calc(100% - 3rem) 100%, 0% 100%);
}

.block--right {
 background: rgb(4, 4, 231);
  margin-left: -2rem;
  clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0% 100%);
}
</style>