<template>
    <div class="app-container">
        <el-table :cell-style="darkMode" v-loading="loading" :data="table" border fit style="width: 100%">
            <el-table-column align="left" label="Role">
                <template slot-scope="scope">
                <span>{{ scope.row.role_name }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Percentage">
                <template slot-scope="scope">
                <span>{{ scope.row.cut }}</span>
                </template>
            </el-table-column>
            <el-table-column align="right" label="Actions">
                <template scope="">
                    <el-button type="primary" size="mini">
                        Edit
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    name: 'Percentage',
    data() {
        return {
            table: [],
            loading: true,
            roles: [],
        }
    },
    created() {
        this.getData();
    },
    mounted() {
        console.log('Percentage componend loaded');
    },
    methods: {
     darkMode() {
         return {
             background: 'rgb(40,40,40)',
             color: '#eee',
         };
     },
     async getData() {
         axios.get('/api/get_percentage')
            .then(function(response) {
                this.loading = true;
                this.table = response.data;
                this.loading = false;
            }.bind(this));
     },
    },
};
</script>
