<template>
   <div class="app-container">
      <h3 style="color: rgb(191, 203, 217);">Facilitate Event: {{ eventName }}</h3>
       <el-table
            :data="table" 
            :cell-style="darkMode" v-loading="loading" border fit style="width: 100%;color: rgb(191, 203, 217);">
            <el-table-column align="left" label="ID" width="40px">
                <template slot-scope="scope">
                <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Fight Number" >
                <template slot-scope="scope">
                <span>{{ scope.row.fight_number }}</span>
                </template>
            </el-table-column>
            <el-table-column label="Bet Stats" align="center">
                 <el-table-column align="center" label="Meron">
                    <template slot-scope="scope">
                    <span>{{ scope.row.meron_total_bet }}</span>
                    </template>
                </el-table-column>
                  <el-table-column align="center" label="Wala">
                    <template slot-scope="scope">
                    <span>{{ scope.row.wala_total_bet }}</span>
                    </template>
                </el-table-column>
            </el-table-column>
            <el-table-column label="Payout Stats" align="center">
               <el-table-column align="center" label="Meron">
                  <template slot-scope="scope">
                  <span>{{ scope.row.meron_total_payout }}</span>
                  </template>
              </el-table-column>
                <el-table-column align="center" label="Wala">
                  <template slot-scope="scope">
                  <span>{{ scope.row.wala_total_payout }}</span>
                  </template>
              </el-table-column>
            </el-table-column>
            <el-table-column label="Fight Stats" align="center">
               <el-table-column align="center" label="Status">
                  <template slot-scope="scope">
                  <span>{{ scope.row.status }}</span>
                  </template>
              </el-table-column>
             
                <el-table-column align="center" label="Winner">
                  <template slot-scope="scope">
                  <span  v-if="scope.row.status === 'open' || scope.row.status === 'pending' || scope.row.status === 'done' ">{{ scope.row.is_winner }}</span>
                  <el-select v-model="isWinner" v-if="scope.row.status === 'closed'" @change="declareWinner(scope.row.event_id, scope.row.fight_number, scope.row.id)">
                     <el-option label="" value=""></el-option>
                    <el-option label="Meron" value="meron"></el-option>
                    <el-option label="Wala" value="wala"></el-option>
                    <el-option label="Draw" value="draw"></el-option>
                    <el-option label="Cancelled" value="cancelled"></el-option>
                  </el-select>
                  </template>
              </el-table-column>
            </el-table-column>
              
            <el-table-column align="center" label="Actions" fixed="right">
                <template slot-scope="scope">
                 
                    <el-button  type="text" size="small" v-if="scope.row.status =='pending' " @click="openBet(scope.row.event_id, scope.row.fight_number, scope.row.id)">
                        Open Bet
                    </el-button>

                    <el-button  type="text" size="small" v-if="scope.row.status =='open' " @click="closeBet(scope.row.event_id, scope.row.fight_number, scope.row.id)">
                        Close Bet
                    </el-button>
                 
                </template>
            </el-table-column>
        </el-table>
        <el-row :gutter="20" style="margin-top: 20px;">
          <el-col :span="24">
            <el-button @click="closeEvent()" type="primary" style="width: 100%">Close Event</el-button>
          </el-col>
        </el-row>

        <el-dialog title="Close Bet Info" :visible.sync="closeBetDialog">
            <el-form ref="closeForm">
            <el-row :gutter="10">
                <el-col :span="12">
                  <el-form-item label="Meron Score">
                    <el-input v-model="meronScore" placeholder="Meron Score"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="Wala Score">
                    <el-input v-model="walaScore" placeholder="Wala Score"></el-input>
                  </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
              <el-col :span="24">
                 <el-form-item label="Score Poster">
                    <el-upload ref="eventPoster" :auto-upload="false" action="" :http-request="handleFile()" :file-list="files" class="upload-demo"  :on-change="handleChange" style="width: 100%">
                        <el-button size="small" type="text" style="width: 100%" icon="el-icon-upload2">Update Score Poster</el-button>
                        <div scope="tip" class="el-upload__tip">jpg/png files with a size less than 5MB</div>
                    </el-upload>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <div slot="footer">
             <el-button @click="dialogFormVisible = false">
                Cancel
            </el-button>
            <el-button type="primary" @click="submitForm()">
              Confirm
            </el-button>
          </div>
        </el-dialog>
   </div>
</template>
<script>

import axios from 'axios';

export default {
    props: {
        fights: {
            type: Number,
            required: true,
        },
        id: {
            type: Number,
            requried: true,
        }
    },
    data() {
        return {
            eventName: '',
            fights: this.fights,
            table: [],
            loading: true,
            search: '',
            isWinner: '',
            closeBetDialog: false,
            files: [],
            meronScore: '',
            walaScore: '',
            event_id: '',
            fight_number: '',
            details_id: '',
        }
    },    
    created() {
       
         console.log(this.id);
         this.setEventDetails(this.fights);
         this.startEvent(this.id, this.fights);
         this.getEventDetails();
    },
    methods: {
      handleFile(){},
      handleChange(file, fileList) {
        this.files = fileList;
                console.log(this.files);
      },
     
        async setEventDetails(id) {
       
        },
        async startEvent(id, fights) {
            axios.post('api/start_event', {
                 id: id,
                 fights: fights,
            })
            .then( response => {
              this.$session.start();
              this.$session.set('event_id', response.data.id);
               this.eventName = response.data.name;
            });
        },
        async closeEvent() {
            this.$confirm('Are you sure you want to close the event?', 'Confirm Close Event', {
              confirmButtonText: 'Confirm',
              cancelButtonText: 'Cancel'
            }).then( ()=> {
                 axios.post('api/close_event', {
                      id: this.id,
                      
                  })
                  .then( response => {
                    this.$message({
                      type: 'success',
                      message: 'Event Finished!'
                    })
                  });
            }).catch( ()=> {
                this.$message({
                  type: 'info',
                  message: 'Cancelled.'
                })
            });
        },
        async getEventDetails() {
          axios.get('api/get_event_details/'+this.id)
                  .then( response => {
                    this.loading = true;
                    this.table = response.data;
                    this.loading = false;
                  });
        },
       
        darkMode() {
           return {
               background: 'rgb(40,40,40)',
               color: '#eee',
           };
       },
       openBet(id, fight_number, details_id) {
         this.$confirm("Are you sure you want to open bet on quarter # "+fight_number+"?", {
           confirmButtonText: 'Confirm',
           cancelButtonText: 'Cancel',
         }).then( response => {
           axios.post('api/open_bet', {
             event_id: id,
             fight_number: fight_number,
             details_id: details_id,
           }).then( response => {
             this.getEventDetails();
             console.table(response);
           }).catch( error => {
             console.log(error);
           });
         }).catch( error => {
             this.$message({
                type: 'error',
                message: 'Cancelled',
            });
         });
       },
        closeBet(id, fight_number, details_id) {
          
          this.$confirm("Are you sure you want to close bet on quarter # "+fight_number+"?", {
            confirmButtonText: 'Confirm',
            cancelButtonText: 'Cancel'
          }).then( () => {
           axios.post('api/close_bet', {
             event_id: id,
             fight_number: fight_number,
             details_id: details_id,
           }).then( () => {
              this.$message({
                message: 'Betting Closed.',
                type: 'success',
              });
              this.getEventDetails();
           }).catch( () => {
             this.$message({
               message: 'Something went wrong.',
               type: 'error',
             })
           });
          }).catch( () => {
            this.$message({
              message: 'Cancelled',
              type: 'info'
            });
          });
          
         
       },
       submitForm() {
         this.$confirm("Are you sure you want to  decalre winner on quarter # "+this.fight_number+"?", {
           confirmButtonText: 'Confirm',
           cancelButtonText: 'Cancel',
         }).then( response => {
          
            let url = "api/declare_winner";
            let form = this.$refs['closeForm'].$el;
            let formData = new FormData(form);

            formData.append('files', this.files[0] ? this.files[0].raw : '');
            formData.append('meron_score', this.meronScore);
            formData.append('wala_score', this.walaScore);
            formData.append('event_id', this.event_id);
            formData.append('fight_number', this.fight_number);
            formData.append('details_id', this.details_id);
            formData.append('winner', this.isWinner);

             let config = {
                    headers: {
                        'Content-Type' : 'undefined'
                    }
                };

            axios.post(url, 
              formData,
              config
              ).then( () => {
                
                this.getEventDetails();
                this.closeBetDialog = false;
                this.clearUploadedImage();
                 
                  this.isWinner = '';
                  this.$message({
                    type: 'success',
                    message: 'Winner Declared.'
                  })
              }).catch( () => {
                console.log('error');
              });
         }).catch( error => {
             this.$message({
                type: 'error',
                message: 'Cancelled',
            });
         });
       },

      declareWinner : function(id, fight_number, details_id) {

          this.event_id = id;
          this.fight_number = fight_number;
          this.details_id = details_id;
          this.closeBetDialog = true;
        //     this.$confirm("Are you sure you want to declare winner on fight # "+fight_number+"?", 'Confirm Winnder', {
        //    confirmButtonText: 'Confirm',
        //    cancelButtonText: 'Cancel',
        //  }).then( response => {
        //    axios.post('api/declare_winner', {
        //      event_id: id,
        //      fight_number: fight_number,
        //      details_id: details_id,
        //      winner: this.isWinner,
        //    }).then( response => {
        //      this.getEventDetails();
        //      this.isWinner = '';
        //      console.table(response);
        //    }).catch( error => {
        //      console.log(error);
        //    });
        //  }).catch( error => {
        //      this.$message({
        //         type: 'error',
        //         message: 'Cancelled',
        //     });
        //  });
      },
       clearUploadedImage() {
            this.$refs.eventPoster.clearFiles();
            this.files = [];
        },
    },
}
</script>

<style lang="scss" rel="stylesheet/scss" scope>
$bg:#2d3a4b;
.card-box {
  background: transparent;
  
}

.card-box > .body {
  background: transparent;
}
.el-card {
 border-color: #262627;
  border-radius: 0px;
  box-shadow: 0px;
}

.el-card {
  
  span {
    color: #606266;
  }
  label {
    color: #606266;
  }
}


</style>