<template>
    <div class="app-container">
         <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="3" :lg="3" :md="24" :xs="24" :sm="24">
                    <el-input v-model="search" placeholder="Search" class="filter-item" clearable />
                </el-col>
            </el-row>
        </div>
        <el-table
            :data="table.filter( data => !search || data.name.toLowerCase().includes(search.toLowerCase()) ||  data.stream_url.toLowerCase().includes(search.toLowerCase()) || data.number_of_fights.toLowerCase().includes(search.toLowerCase()) || data.total_budget.toLowerCase().includes(search.toLowerCase()) )" 
            :cell-style="darkMode" v-loading="loading" border fit style="width: 100%">
            <el-table-column align="left" label="ID" width="40px">
                <template slot-scope="scope">
                <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Name">
                <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Date">
                <template slot-scope="scope">
                <span>{{ scope.row.start_date | parseTime('{y}-{m}-{d}') }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Time">
                <template slot-scope="scope">
                <span>{{ scope.row.start_time | parseTime('{h}:{i}') }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="URL">
                <template slot-scope="scope">
               <span v-if="scope.row.event_type == 'stream' " >{{ scope.row.stream_url }}</span>
                <img v-if="scope.row.event_type == 'non_stream' " :src=" 'posters/'+scope.row.image_path+'' " alt="" width="50px" height="50px">
                </template>
            </el-table-column>
             <el-table-column align="left" label="Budget">
                <template slot-scope="scope">
                <span>{{ scope.row.total_budget }}</span>
                </template>
            </el-table-column>
             <el-table-column align="center" label="Fights" width="60px">
                <template slot-scope="scope">
                <span>{{ scope.row.number_of_fights }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Cash Ins">
                <template slot-scope="scope">
                <span>{{ scope.row.total_cash_in }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Cash Outs">
                <template slot-scope="scope">
                <span>{{ scope.row.total_cash_out }}</span>
                </template>
            </el-table-column>
             <el-table-column align="left" label="Balance">
                <template slot-scope="scope">
                <span>{{ scope.row.running_balance }}</span>
                </template>
            </el-table-column>
            <el-table-column align="left" label="Status">
                <template slot-scope="scope">
                <span>{{ scope.row.status }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Actions" fixed="right">
                <template slot-scope="scope">
                   <router-link v-if="scope.row.status =='upcoming' " :to="{ name: 'FacilitateEvent', params: { id: scope.row.id, fights: scope.row.number_of_fights } }">
                        <el-button  type="text" size="small">
                        Start
                        </el-button>
                    </router-link>
                     <router-link v-if="scope.row.status =='on-going' " :to="{ name: 'FacilitateEvent', params: { id: scope.row.id, fights: scope.row.number_of_fights } }">
                        <el-button  type="text" size="small">
                        View
                        </el-button>
                    </router-link>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>

import axios from 'axios';

export default {
    data() {
        return {
            table: [],
            loading: true,
            search: '',
        }
    },    
    created() {
        this.getEvents();
    },
    methods: {
        async getEvents() {
            axios.get('api/events')
                    .then( response => {
                        this.loading = true;
                        this.table = response.data;
                        this.loading = false;
                    });
        },
     
        darkMode() {
           return {
               background: 'rgb(40,40,40)',
               color: '#eee',
           };
       },
    },
}
</script>